apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitops-demo
  namespace: gitops
spec:
  replicas: 4
  selector:
    matchLabels:
      app: gitops-demo
  template:
    metadata:
      labels:
        app: gitops-demo
    spec:
      containers:
      - name: app
        image: l3shan/gitops-demo:1
        ports:
        - containerPort: 5000
